* {
  margin: 0;
  text-decoration: none;
  list-style: none;
  padding: 0;
  font-family: 'Mulish', sans-serif;
}

:root {
  --yellow: #ffd344;
  --primaryColorLight: #6a55cc;
  --primaryColorRegular: #57409a;
  --primaryColorDark: #190b46;
  --blackText: #333333;
  --grayText: #7e7e7e;
  --whiteLight: #fff;
  --whiteRegular: #f5f5f5;
  font-size: 62.5%;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  background-color: var(--whiteRegular);
  font-size: 1.3rem;
  color: var(--blackText);
}

/* ------------------------------------------ Navbar Area ---------------------------------------------- */

nav {
  background-color: var(--whiteLight);
  width: 100%;
  box-shadow: rgb(0 0 0 / 4%) 0px 4px 8px 0px;
}

#navContainer {
  max-width: 1170px;
  margin: 0px auto;
  padding: 1.6rem 0.5rem;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

#navLeft > a > img {
  width: 68px;
  height: 40px;
}

#navLeft,
#navRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navLeft > *,
#navRight > * {
  margin-right: 20px;
}

#navLocation > p:nth-child(1) {
  font-weight: bold;
  font-size: 1.8rem;
}

nav #userName,
nav .hamburger {
  color: var(--primaryColorRegular);
  cursor: pointer;
}

/* --------------------------------------- Sidebar CSS  ----------------------------------- */

#sidebar {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  height: 100vh;
  position: fixed;
  z-index: 111;
  top: 0;
  left: 0;
  display: none;

}

#sidebarMain {
  height: 100%;
  position: relative;
  margin-right: -400px;
  transition: transform 0.5s linear;
}

.activeSideBar {
  transform: translateX(-400px)!important;
}

#sidebarList {
  max-width: 400px;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: var(--whiteLight);
}

#sidebarList > span {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  cursor: pointer;
  font-size: 2rem;
}

#sidebarNavList {
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
}

#sidebarNavList > li {
  width: 100%;
  cursor: pointer;
}

#sidebarNavList > li > a {
  display: flex;
  align-items: center;
  padding: 2.1rem 4rem;
  width: 100%;
}

#sidebarNavList > li > a > span {
  flex: 1 1 12.5%;
  max-width: 12.5%;
}

#sidebarNavList > li > a > span > img {
  width: 30px;
  height: 30px;
}

#sidebarNavList > li > a > p {
  flex: 1 1 75%;
  font-size: 2rem;
  font-weight: 500;
  color: rgb(126, 126, 126) !important;
}

nav #userName,
nav .hamburger {
  color: var(--primaryColorRegular);
  cursor: pointer;
}

/* --------------------------------------------- Menu Slider --------------------------------- */

#sliderSection {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

#menuSlider {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  position: relative;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  margin-left: -1000px;
  height: 25rem;
  will-change: transform, transition;
}

#menuSlider > .menuItem {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  display: flex;
  overflow: hidden;
  height: 100%;
}

.menuItem > div {
  height: 100%;
}

.menuItem > div > img {
  height: 100%;
  margin: 0 1rem;
}

.sliderArrow {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#leftArrow {
  left: calc(4% + 1px);
}

.slideLeft {
  transform: translate(-400px, 0);
  transition: transform 0.5s linear;
}

#rightArrow {
  right: calc(4% + 1px);
}

.slideRight {
  transform: translate(400px, 0);
  transition: transform 0.5s linear;
}
/* ------------------------------------------ Main Content Area ---------------------------------------------- */

main {
  margin-top: 10px;
}

.container {
  margin: 0 auto;
}

#mainContent {
  width: 80%;
  /* background-color: wheat; */
  padding: 2rem 0;
}

#mainContentHeading {
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 2rem 0;
  background-color: var(--whiteRegular);
  display: flex;
  justify-content: space-between;
}

.heading {
  font-size: 2rem;
}

.filterOptions {
  display: flex;
}

.filterOptions > button {
  background-color: var(--whiteLight);
  padding: 8px 30px 8px 10px;
  border: none;
  box-shadow: 0px 4px 8px 0px rgb(0 0 0 / 8%);
  border-radius: 0.4rem;
  font-size: 1.3rem;
  color: var(--grayText);
  font-weight: normal;
  min-width: 25rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0.6rem;
  cursor: pointer;
}

.filterOptions > button:not(:nth-child(1)) {
  min-width: fit-content;
}

.filterOptions > button > img,
input {
  width: 13px;
  height: 13px;
  margin-right: 13px;
}

.filterOptions > button > input[type='radio'] {
  appearance: none;
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  background-color: #d5d5d5;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.filterOptions > button > input[type='radio']::after {
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
  font-size: 10px;
  content: '\f00c';
  display: none;
}

.filterOptions > button > input[type='radio']:hover {
  background-color: var(--grayText);
}

.filterOptions > button > input[type='radio']:checked {
  background-color: #ffd344;
}

.filterOptions > button > input[type='radio']:checked:after {
  display: flex;
}

#mainContent > hr {
  color: var(--grayText);
}

#mainProducts {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

#mainProducts > div {
  margin-right: 2rem;
}

#productCategory {
  width: 18.33%;
  background-color: var(--whiteLight);
  border-radius: 0.4rem;
  position: sticky;
  top: 7.6rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  height: fit-content;
}

#productCategory a {
  color: var(--grayText);
}

#productCategory > ul > li {
  /* width: 100%; */
  text-align: left;
  padding: 1.1rem 1.8rem 0.9rem;
  position: relative;
}

#productCategory > ul > li > a {
  font-size: 1.3rem;
  cursor: pointer;
  text-transform: none;
}

#productCategory > ul > .active > a {
  font-weight: bold;
  color: var(--blackText);
}

#productCategory > ul > .active::after {
  content: '';
  position: absolute;
  right: 0px;
  bottom: 8px;
  background-color: rgb(86, 64, 153);
  height: 20px;
  width: 4px;
  border-radius: 3.5px;
}

#productArea {
  flex: 1 1 48.3333%;
  width: 48.3333%;
}

#productArea > div:not(:nth-child(1)) {
  border-top: 1px solid rgb(196, 196, 196);
  padding-top: 20px;
  margin-top: 10px;
}

#productAreaHeading > p {
  font-size: 1.8rem;
  color: var(--blackText);
  font-weight: 800;
  margin-bottom: 1.6rem;
}

#allProducts {
  /* max-width: 48.3333%; */
  display: flex;
}

#allProducts > div {
  width: auto;
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
  justify-content: space-between;
}

#allProducts > div > .card {
  width: 45%;
  border-radius: 0.4rem;
  box-shadow: rgb(0 0 0 / 5%) 0px 4px 8px 0px;
  position: relative;
  /* padding-bottom: 1.2rem; */
  background-color: var(--whiteLight);
  margin: 1rem;
  cursor: pointer;
}

.cardImage {
  width: 100%;
}

.cardImage > img {
  width: 100%;
}

.cardDetails {
  padding: 1rem;
  /* width: 100%; */
}

.cardDetails > .twoColumn {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.twoColumn > .productWrapper {
  text-align: center;
}

.productNamePrice > .productName {
  flex: 1 1 62.5%;
  max-width: 62.5%;
  font-size: 1.4rem;
  line-height: 1.4;
  height: 4.5rem;
  margin-bottom: 0.4rem;
}

.veg_nonVeg {
  width: 1rem;
}

.cardDetails > .oneColumn {
  overflow: hidden;
}

.productDescription {
  max-width: 250px;
  width: 100%;
  font-size: 1.2rem;
  color: rgb(100, 100, 100);
  margin-bottom: 1.7rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.productDescription::after {
  content: 'Read More';
  font-weight: bold;
  display: table;
  cursor: pointer;
}

.productRating {
  background-color: #4cb050;
  color: var(--whiteLight);
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 20px;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  border-radius: 0.25rem;
  margin-bottom: 5px;
}

.productRating > i {
  font-size: 0.7rem;
}

.productBoughtCount,
.productCustomisable {
  font-size: 1rem;
  color: var(--grayText);
}

.addProduct > button {
  padding: 0.7rem 4rem;
  background-color: #ffd344;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  box-shadow: rgb(0 0 0 / 12%) 0px 4px 8px 0px;
  border-radius: 0.4rem;
  cursor: pointer;
  margin-bottom: 5px;
}

/* ---------------------------- CART Styling ---------------------------- */

#checkout {
  width: 33.33%;
  position: sticky;
  height: fit-content;
  top: 7.6rem;
}

.emptyCart {
  width: 100%;
  padding: 3rem;
}

#emptyCartImage {
  width: 100%;
  margin-bottom: 2rem;
  max-width: 250px;
}

.emptyCart > p {
  font-size: 1.5rem;
  color: rgb(153, 153, 153);
  font-weight: 500;
  text-align: center;
  max-width: 23.6rem;
}

#allCartItems {
  width: 95%;
  background-color: var(--whiteLight);
  padding: 2rem;
  height: fit-content;
  border-radius: 0.4rem;
}

#totalItems {
  font-weight: normal;
  font-size: 1.5rem;
}

.cartItem {
  display: flex;
  margin-top: 1.6rem;
  align-items: flex-start;
  justify-content: space-around;
}

.cartItemDetails {
  width: 45%;
  display: flex;
}

.cartItemDetails .cartItemName {
  font-size: 1.3rem;
  font-weight: 500;
  color: rgb(51, 51, 51);
  line-height: 1.2;
  margin-bottom: 0.8rem;
}

.cartItemDetails .cartItemAddon {
  color: rgb(153, 153, 153);
  font-size: 1rem;
}

.cartItem .category {
  margin-right: 0.8rem;
}

.cartItem .category > img {
  width: 10px;
  height: 10px;
}

.cartItemCount {
  display: flex;
  align-items: center;
  perspective: 90px;
}

.cartItemCount > button {
  margin: 0 1rem;
  width: 33px;
  height: 31px;
  display: flex;
  flex-direction: row;
  box-shadow: rgb(0 0 0 / 12%) 0px 4px 8px 0px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 211, 68);
  outline: none;
  font-size: 1.6rem;
  border-radius: 4px;
  padding: 0px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
}

.cartItemCount > #increase {
  transform: rotateY(-20deg);
}

.cartItemCount > #decrease {
  transform: rotateY(20deg);
}

#subtotal {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: baseline;
}

.subtotalTitle > h3 {
  font-size: 1.8rem;
  color: rgb(51, 51, 51);
  font-weight: 700;
  padding-top: 1rem;
}

.subtotalTitle > p {
  font-size: 1.2rem;
  color: rgb(153, 153, 153);
}

#subtotalButton {
  display: inline-flex;
  padding: 1.3rem 1.2rem 1.2rem;
  border: 1px solid transparent;
  box-shadow: rgb(0 0 0 / 12%) 0px 4px 8px 0px;
  cursor: pointer;
  width: 100%;
  background-color: rgb(255, 211, 68);
  color: var(--blackText);
  font-weight: bold;
  position: relative;
  border-radius: 0.4rem;
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
  -webkit-box-pack: center;
  justify-content: center;
  font-size: 1.8rem;
  margin-top: 1.6rem;
}

/* ----------------------------------------------------Footer------------------------------------------------------------------- */

.footer {
  background-color: var(--primaryColorDark);
  padding: 50px 150px;
}
.footer1 {
  float: left;
  width: 21%;
  padding: 1% 2%;
}
.footer2 {
  width: 46%;
  padding: 2%;
}
.footer3 {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.footer3 img {
  margin: 0px 6px;
  cursor: pointer;
}
.footer1 > span,
p ~ span {
  font-size: 15px;
  line-height: 25px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}
.footer p {
  font-size: 20px;
  color: rgb(196, 196, 196);
}
p ~ span {
  cursor: pointer;
}
p > span {
  font-weight: 900;
  font-size: 17px;
}

/* Media Queries for medium screen size */

@media (max-width: 1220px) {
  #mainContent {
    width: 100%;
  }

  #mainProducts > div {
    margin-right: 1rem;
  }

  #mainProducts {
    flex-wrap: wrap;
  }

  #checkout {
    width: 100%;
  }

  #productCategory {
    flex: 1 1 31.25%;
    max-width: 31.25%;
  }

  #productArea {
    flex: 1 1 64.75%;
    max-width: 68.75%;
    margin: 0;
  }
}

/* Media Queries for small screen sizes */
@media (max-width: 960px) {
  .footer {
    height: fit-content;
    padding: 1rem;
  }

  .footer p {
    line-height: unset;
  }
}

@media (max-width: 880px) {
  #mainContentHeading {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 670px) {
  #menuSlider {
    height: 16rem;
  }

  .sliderArrow {
    display: none;
  }

  #productCategory {
    position: static;
    flex: 1 1 97%;
    max-width: 97%;
    margin: 0rem auto 2rem auto;
  }

  #productArea {
    flex: 1 1 99.75%;
    max-width: 98.75%;
    margin: 0;
  }
}

@media (max-width: 600px) {
  .filterOptions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .filterOptions > button {
    margin-top: 1rem;
  }
  .filterOptions > button:nth-child(1) {
    width: 90%;
  }
}

@media (max-width: 500px) {
  #allProducts > div > .card {
    width: 80%;
    margin: 1rem auto;
  }
}

/* Demo feature, in progress below this */

#searchFoodPopUp {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #000000bf;
  top: 0;
  left: 0;
  z-index: 1111;
  display: none;
}

#productSearchDiv {
  background: rgb(245, 245, 246);
  padding: 4rem 0px;
  height: 80%;
}

#productSearchContainer {
  padding: 0px 1.6rem;
  max-width: 108rem;
  margin: 0px auto;
  height: 100%;
}

#productSearchInputDiv {
  position: relative;
}

#productSearchInputDiv > .backButton {
  position: absolute;
  top: 50%;
  left: 1%;
  transform: translateY(-50%);
  font-size: 2rem;
  cursor: pointer;
}

#productSearchInput {
  font-size: 1.6rem;
  min-height: 6rem;
  color: var(--blackText);
  border-radius: 0.4rem;
  outline: none;
  border: none;
  box-shadow: 0px 4px 8px 0px rgb(0 0 0 / 8%);

  padding: 1rem 1rem !important;
  width: 90%;
  margin: 0 auto;
}

#productSearchResults {
  padding: 1.6rem 2rem 0;
  max-height: 80%;
  overflow-y: scroll;
}

#displayFilterItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.searchFoodCard {
  flex: 1 1 49%;
  max-width: 49%;
  display: flex;
  border: 1px solid gainsboro;
  padding: 0.7rem;
  border-radius: 0.4rem;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: 1rem;
}

.searchFoodCardImage {
  flex: 0 0 120px;
  overflow: hidden;
  max-width: 120px;
  object-fit: cover;
  border-radius: 0.4rem;
}

.searchFoodDetails {
  flex: 0 0 calc(100% - 120px);
  padding-left: 0.8rem;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.searchFoodUpper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.6rem;
}

.searchFoodUpper > a {
  flex: 1 1 70%;
  max-width: 70%;
  color: var(--blackText);
  font-weight: 900;
}

.searchFoodUpper > span {
  flex: 1 1 30%;
  max-width: 30%;
}

.searchFoodUpper > span > img {
  width: 10px;
  height: 10px;
  margin-right: 1rem;
}

.searchFoodDescription {
  font-size: 1.1rem;
}

.searchFoodDescription > p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
}

.searchFoodDescription > span {
  color: var(--grayText);
  font-weight: 700;
  margin: 0;
  font-size: 1.1rem;
  text-align: right;
}

.searchFoodAddButton {
  flex: 1 1 100%;
  display: flex;
  justify-content: flex-end;
}

.searchFoodAddButton > button {
  background-color: var(--yellow);
  border: none;
  color: var(--blackText);
  font-weight: 800;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 0.7rem 1.2rem;
  border-radius: 0.4rem;
  width: 30%;
  margin-right: 2rem;
  cursor: pointer;
}

@media (max-width: 800px) {
  .searchFoodCard {
    width: 100%;
    flex: unset;
    max-width: unset;
  }
}

@media (min-width: 440px) {
  #productSearchInputDiv > input#productSearchInput {
    width: 100%;
    padding: 1rem 4rem !important;
  }
}

@media (max-width: 440px) {
  .searchFoodCard {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .searchFoodUpper {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .searchFoodUpper > a {
    margin-bottom: 1rem;
  }

  .searchFoodDescription {
    text-align: center;
  }

  .searchFoodAddButton {
    justify-content: center;
  }
}

/* Demo feature, in progress  above this*/
