* {
  margin: 0;
  text-decoration: none;
  list-style: none;
  padding: 0;
  font-family: 'Mulish', sans-serif;
}

:root {
  --bodyBack: white;
  --yellow: rgb(255, 211, 68);
  --primaryColorLight: #6a55cc;
  --primaryColorRegular: #57409a;
  --primaryColorDark: #190b46;
  --blackText: #333333;
  --grayText: #7e7e7e;
  --whiteLight: #fff;
  --whiteRegular: #f5f5f5;
  font-size: 62.5%;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  /* background-color: var(--whiteRegular); */
  font-size: 1.3rem;
  color: var(--blackText);
}

/* ------------------------------------------ Navbar Area ---------------------------------------------- */

nav {
  background-color: var(--whiteLight);
  width: 100%;
  box-shadow: rgb(0 0 0 / 4%) 0px 4px 8px 0px;
}

#navContainer {
  max-width: 1170px;
  margin: 0px auto;
  padding: 1.6rem 0.5rem;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

#navLeft > a > img {
  width: 68px;
  height: 40px;
}

#navLeft,
#navRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navLeft > *,
#navRight > * {
  margin-right: 20px;
}

#navLocation > p:nth-child(1) {
  font-weight: bold;
  font-size: 1.8rem;
}

nav #userName,
nav .hamburger {
  color: var(--primaryColorRegular);
  cursor: pointer;
}

/* --------------------------------------- Sidebar CSS  ----------------------------------- */

#sidebar {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  height: 100vh;
  position: fixed;
  z-index: 111;
  top: 0;
  left: 0;
  display: none;

}

#sidebarMain {
  height: 100%;
  position: relative;
  margin-right: -400px;
  transition: transform 0.5s linear;
}

.activeSideBar {
  transform: translateX(-400px)!important;
}

#sidebarList {
  max-width: 400px;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: var(--whiteLight);
}

#sidebarList > span {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  cursor: pointer;
  font-size: 2rem;
}

#sidebarNavList {
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
}

#sidebarNavList > li {
  width: 100%;
  cursor: pointer;
}

#sidebarNavList > li > a {
  display: flex;
  align-items: center;
  padding: 2.1rem 4rem;
  width: 100%;
}

#sidebarNavList > li > a > span {
  flex: 1 1 12.5%;
  max-width: 12.5%;
}

#sidebarNavList > li > a > span > img {
  width: 30px;
  height: 30px;
}

#sidebarNavList > li > a > p {
  flex: 1 1 75%;
  font-size: 2rem;
  font-weight: 500;
  color: rgb(126, 126, 126) !important;
}

/* ------------------------------------------ final order ---------------------------------------------- */

#orderPlaced {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}

#orderPlaced > h2 {
  color: var(--primaryColorLight);
  display: flex;
  text-transform: capitalize;
}

.outer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin-right: 1rem;
  animation: successfull 3s;
  animation-iteration-count: infinite;
}

.outer > .fa-certificate {
  font-size: 2rem;
}

@keyframes successfull {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.inner > i.fa-check {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
}

#order_img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: fit-content;
  margin: 2rem auto;
}

#order_img > #faasosLogo {
  width: 60px;
  display: flex;
  height: 60px;
  position: absolute;
  left: 26%;
  top: 42%;
}

#order_img > #faasosLogo > img {
  width: 100%;
  height: 100%;
}

#checkOrders {
  padding: 1.6rem 2rem;
  font-weight: bold;
  text-transform: uppercase;
  background: var(--yellow);
  outline: none;
  border: none;
  margin-top: 1rem;
  border-radius: 0.5rem;
  box-shadow: rgb(0 0 0 / 12%) 0px 4px 8px 0px;
  cursor: pointer;
}

/* ----------------------------------------------------Footer------------------------------------------------------------------- */

.footer {
  background-color: var(--primaryColorDark);
  padding: 50px 150px;
}
.footer1 {
  float: left;
  width: 21%;
  padding: 1% 2%;
}
.footer2 {
  width: 46%;
  padding: 2%;
}
.footer3 {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.footer3 img {
  margin: 0px 6px;
  cursor: pointer;
}
.footer1 > span,
p ~ span {
  font-size: 15px;
  line-height: 25px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}
.footer p {
  font-size: 20px;
  color: rgb(196, 196, 196);
}
p ~ span {
  cursor: pointer;
}
p > span {
  font-weight: 900;
  font-size: 17px;
}

/* Media Queries for small screen sizes */
@media (max-width: 960px) {
  .footer {
    height: fit-content;
    padding: 1rem;
  }

  .footer p {
    line-height: unset;
  }
}

@media (max-width: 560px) {
  #orderPlaced > h2 {
    flex-wrap: wrap;
    font-size: 1.4rem;
  }

  #order_img > img {
    width: 95%;
  }

  .footer1 {
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2rem auto;
  }

  .footer1 > span {
    margin-right: 1rem;
  }
}
